[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-debug-toolbar = "*"
factory-boy = "*"

[packages]
boto = "*"
flask = "*"
garcon = {git = "https://github.com/xethorn/garcon",editable = true}
garcon-contrib-cli = {editable = true,path = "./contrib-cli"}
ado = {editable = true,path = "./../ado"}

[requires]
python_version = "3.6"
